<!DOCTYPE html>
<html>
  <head>
    <title>Literbug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do %>
          <div class="circle">
            <br />
            <br />
            Literbug
            <br />
          </div>
        <% end %>
      </div>
      <div class="col-4 slogan">
        Quotes that feel like home
      </div>
      <div class="col-4 links">
        <ul style="list-style: none;">
          <li><%= link_to 'Add a Quote', new_quote_path %></li>
          <li><%= link_to 'All Quotes', all_path %></li>
        </ul>
      </div>
    </header>

    <hr />   

    <br class="clear" />

  <div class="container">
    <% if flash[:error].present? %>
      <div class="col-10 offset-1 alert alert-danger">
        <%= flash[:error].html_safe %>
      </div>
    <% end %>
    
    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>


    <%= yield %>
  </div>
    
  </body>
</html>
